<div class="general-container">
<ul class="h2"> Confirm the details of your date:</ul>

<li>Restaurant: {{createdDate.date_location_name}}</li>
<li>Rating: {{createdDate.rating}}</li>
<li>Cuisines:{{createdDate.cuisines}} </li>
<li>Average cost for two: {{createdDate.AvgCostforTwo}}€</li>
<li>Address: {{createdDate.address}}</li>
</ul>

<br>

<a class="btn btn-danger" href="/profile-page">  SAVE MY DATE!  </a>

</div>
