<div class="general-container">


<h2>Confirm the details of your date</h2> 


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/cool_dog.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{finalOption.[0].name}}</h5>
    <p class="card-text"><strong>Rating: </strong>{{finalOption.[0].rating}}</p>
    <p class="card-text"><strong>Cuisines: </strong>{{finalOption.[0].cuisines}}</p>
    <p class="card-text"><strong>Average cost for 2: </strong>{{finalOption.[0].average_cost_for_two}}€</p>
    <p class="card-text"><strong>Address: </strong>{{finalOption.[0].location.address}}</p>
    
  </div>
</div>
<br><br>
<a class="btn btn-danger btn-call-to-action btn-block" href="/confirm-date">  SAVE MY DATE!  </a>

<br>
</div>