<div class="general-container">
<ul class="h2"> Confirm the details of your date:</ul>

<b>Restaurant:</b> {{finalOption.[0].name}}<br>
<b>Rating:</b> {{finalOption.[0].rating}}<br>
<b>Cuisines:</b> {{finalOption.[0].cuisines}}<br>
<b>Average cost for two:</b> {{finalOption.[0].average_cost_for_two}}€<br>
<b>Address:</b> {{finalOption.[0].location.address}}<br>
</ul>

<br>

<a class="btn btn-danger" href="/confirm-date">  SAVE MY DATE!  </a>

</div>
