<div class="main-container-grey h-100 w-100 align-middle">
<div class="general-container">
  <br><br>
<h2 class="text-center text-white">This is a movie option for your date</h2>

<br><br><br>
<a href="/date-type?lat={{lat}}&lng={{lng}}" class="btn btn-outline-warning btn-lg"><strong><p><i class="fas fa-arrow-left"></i>   Never mind</p></strong> <p>I want to try other date options!</p></a>
<br><br>

<div id="accordion">
  

 <div class="card">
    <div class="card-header" id="headingOne">
      <h4 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{finalOptions.title}}
        </button>
      </h4>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li>Year: {{finalOptions.year}}</li>
          <li>Director: {{finalOptions.director}}</li>
          <li>Genre: {{finalOptions.genre}}</li>
          <li>Duration: {{finalOptions.duration}}</li>
          <li>IMDB Rate: {{finalOptions.rate}}</li>
          <br>
          <a class="btn btn-primary btn-lg text-center" href="/confirm-netflix/{{finalOptions._id}}"><i class="fas fa-heart"></i> My favorite Option</a>
        </ul> 
      </div>
  </div>
  <a class="btn btn-info btn-lg" href="/date-type-netflix"><i class="fas fa-random"></i> Try Again for a different movie!</a>
</div>
</div>
</div>
</div>