<div class="main-container-grey h-100 w-100 text-white align-middle">
<div class="general-container px-2">
  <br> <br><br>
<h2 class="text-center text-white">These are the closest options for your date</h2>
<br>
<h3 class="text-center">Let us know which one is your favorite!</h3>
<br><br><br>
  <a href="/date-type?lat={{lat}}&lng={{lng}}" class="btn btn-outline-warning btn-lg"><strong><p><i class="fas fa-arrow-left"></i>   Never mind</p></strong> <p>I want to try other date options!</p></a>
<br><br>
<div id="accordion">
  
 {{#each finalOptions }}

 <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fas fa-angle-double-down"></i> {{this.name}}
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
     
      <div class="card-body text-dark text-black-50 text">

        <ul>
          
          <li>Address: {{this.address}}</li>
          <li> <a href="{{this.website}}">Go to website </a></li>
          <br>
          <a class="btn btn-primary text-center" href="/confirm-movie/{{this._id}}">My favorite Option</a>

        </ul>
       
      </div>
  </div>
       {{/each }}
</div>
</div>

</div></div>