<div class="general-container">
  
<h3 class="text-center">What kind of date are you looking for?</h3>

<div class="container">
  <div class="row">
    <div class="col col-sm-4">
      <a href="/price-range?lat={{lat}}&lng={{lng}}&kind=drink"><i class="fas fa-glass-martini-alt fa-3x text-center"></i></a>
    </div>
    <div class="col col-sm-4">
      <a href="/price-range?lat={{lat}}&lng={{lng}}&kind=club"><i class="fas fa-music fa-3x text-center"></i></a>
    </div>
    <div class="col col-sm-4">
      <a href="/date-type-movie"><i class="fas fa-film fa-3x text-center"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4">
     <a href="/price-range?lat={{lat}}&lng={{lng}}&kind=dinner"><i class="fas fa-pizza-slice fa-3x text-center"></i></a>
    </div>
    <div class="col col-sm-4">
      <a href="/date-type-netflix"><i class="fas fa-couch fa-3x text-center"></i></a>
    </div>
    <div class="col col-sm-4">
      <a href="/price-range?lat={{lat}}&lng={{lng}}&kind=coffee"><i class="fas fa-mug-hot fa-3x text-center"></i></a>
    </div>
  </div>
</div>

</div>