<div class="general-container">
<h1>Your Profile</h1>

<p>E-mail: {{user.email}}</p>  

<hr>

<h2>My Dates</h2>
<br>
<ul>
{{#each userDates}}
<b>Restaurant:</b> {{this.date_location_name}} <br>
<b>Cuisines:</b> {{this.cuisines}} <br>
<b>Average cost for two:</b> {{this.AvgCostforTwo}}€ <br>
<b>Address:</b> {{this.address}} <br>
<br>
<a href="/{{this._id}}/delete" class="btn btn-outline-danger">Delete</a>
<br><br>
{{/each}}
</ul>

<a class="btn btn-info"  href="">Send details to my Date!</a>
<br>
