<div class="general-container">
<h1>User Profile</h1>

<p>E-mail:</p>  

<hr>

<h2>My Dates</h2>
<br>
<ul>
{{#each userDates}}
<b>Restaurant:</b> {{this.date_location_name}} <br>
<b>Cuisines:</b> {{this.cuisines}} <br>
<b>Average cost for two:</b> {{this.AvgCostforTwo}}€ <br>
<b>Address:</b> {{this.address}} <br>
<br><br>
{{/each}}


<b>Cinema Name:</b> {{cinemaDates._cinema.name}} <br>
<b>Address:</b> {{cinemaDates._cinema.address}} <br>
<br><br>

</ul>

<a class="btn btn-info"  href="">Send details to my Date!</a>
<br>
