


{{!-- <div class="general-container">
<h1>Choose your favorite TA to hang out with</h1>



{{#each userDates}}
<b>Location:</b> {{this.date_location_name}} <br>
{{#if this.cuisines}}
<b>Cuisines:</b> {{this.cuisines}} <br>
<b>Average cost for two:</b> {{this.AvgCostforTwo}}€ <br>
{{/if}}
{{#if this.address}}
<b>Address:</b> {{this.address}} <br>
{{/if}}
{{#if this.title}}
<b>Title:</b> {{this.title}} <br>
<b>Director:</b> {{this.director}} <br>
{{/if}}
<br>
<a href="/location" class="btn btn-outline-success">Save another Date!</a>
<a href="/{{this._id}}/delete" class="btn btn-outline-danger">Delete</a>

<h2>Joaquim</h2>
<form action="/send-email" method="post">
<h2>Mostafa</h2>
  <label for=""><b>Email:</b></label>
  <input type="email" name="email" id="" >
  <input type="time" name="dateTime" value="">
  <input type="hidden" value="{{this._id}}" name="dateId">
<button class="btn btn-info" type="submit">Send details to my Date!</button>
</form>


<br><br>
{{/each}}
</ul>

<br> --}}
